.card {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 45vh;
  width: 28vw;

  background-color: #fffff6;
  border-radius: 8px;
  overflow: hidden;

  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease-in-out;
  min-width: 330px;
  min-height: 380px;

  padding: 20px 10px 20px 10px;

  &:hover {
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  }
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.cardHeader {
  text-align: center;
  padding: 10px;

  width: 100%;
  height: 15%;

  color: #282828;
}

.cardFooter {
  text-align: center;
  padding: 10px;
  height: 15%;

  color: #282828;
}

.youtubeLogo {
  width: 50px;
  height: auto;
  cursor: pointer;
  transition: filter 0.2s ease;
}

.youtubeLogo:hover {
  filter: brightness(80%);
}

.cardImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;

  padding-top: 20px;
  gap: 3px;

  flex: 1;

  .errorPlaceholder {
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .errorText {
    color: red;
    transition: opacity 0.3s ease;
  }
}

.cardTitle {
  margin: 0;
  font-size: 1.5em;
  font-weight: bold;
  color: #282828;

  @media (max-width: 1342px) {
    font-size: 1.2em;
  }
}

.cardText {
  text-align: center;
  margin-top: 10px;
  font-size: 3vw;
  color: #676767;

  margin-top: 10px;
  font-size: min(calc(1em + 2vw), 16px);
  color: #676767;

  @media (max-width: 1396px) {
    font-size: 0.8em;
  }
}

.urlInput {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em;
}

.analyzeButton {
  display: block;
  width: 50%;
  padding: 10px 15px;
  margin-top: 15px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
  user-select: none;

  &:hover {
    background-color: #45a049;
  }

  &:disabled {
    background-color: #a5d6a7;
    color: #cccccc;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.cardOverlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0);
  background-color: rgba(0, 0, 0, 0);
  pointer-events: none;
  z-index: 1;
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}
.iconContainer {
  z-index: 1000;
  cursor: help;
}
.cardFooter .iconContainer:hover + .cardOverlay {
  display: block;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.548);
}

.cardContent,
.cardHeader {
  transition: filter 0.3s ease;
}

.cardFooter .iconContainer:hover ~ .cardContent,
.cardFooter .iconContainer:hover ~ .cardHeader {
  filter: blur(5px);
}

.hoverText {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 2;
  pointer-events: none;
  line-height: 1.4;
}
.cardFooter .iconContainer:hover + .cardOverlay + .hoverText {
  display: block;
}
